@mixin shape-container($bg-color) {
  width: 150px;
  height: 150px;
  background-color: $bg-color;
}

a {
  color: white;
  text-decoration: none;
  border: 1px solid white;
  padding: 10px;
}

.square-container {
  $bg-color: #7373cb;
  @include shape-container($bg-color);
}

.circle-container {
  $bg-color: #c473cb;
  @include shape-container($bg-color);
}
