@mixin shape-container($bg-color) {
  width: 150px;
  height: 150px;
  background-color: $bg-color;
}

a {
  color: white;
  text-decoration: none;
  border: 1px solid white;
  padding: 10px;
}

.square-container {
  $bg-color: #7373cb;
  @include shape-container($bg-color);
}

.circle-container {
  $bg-color: #c473cb;
  @include shape-container($bg-color);
}

.numerator {
  border-bottom: 2px solid black;
}

.runtime-icon {
  color: #0d6efd;
  cursor: pointer;
  &-info-container {
    position: absolute;
    top: -35px;
    right: 25px;
    background-color: #cfe2ff;
    border-radius: 5px;
    padding: 5px;
  }
}

.delete-icon {
  cursor: pointer;
}
